.disclaimer-icon {
    position: fixed;
    bottom: 10px;
    left: 20px;
    cursor: pointer;
}

.disclaimer-popup {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 900px;
    height: 85%;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

/* Add the media query here */
@media only screen and (max-width: 600px) {
    .disclaimer-popup {
        width: 90%; /* Adjust the percentage based on your preference */
        height: 70%;
        overflow-y: auto;
    }
}

#report-issue-button {
    position: fixed;
    bottom: 10px;
    left: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

#report-issue-button img {
    width: 50px; /* Adjust the width based on your preference */
    height: 50px; /* Adjust the height based on your preference */
}

/* Add the media query here if needed */
@media only screen and (max-width: 600px) {
    #report-issue-button {
        /* Adjust styles for smaller screens if needed */
    }
}